<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Questionnaire ver. Vue 3 JS</title>

</head>

<body>
    <div id="app" class="row justify-content-center" style="padding: 16px;">
        <div class="col-lg-4">

            <div v-for="(question, index) in questions" :key="question.label">
                <blockquote class="blockquote">
                    <p> {{ question.label }} </p>
                </blockquote>
                <div v-if="question.type === 'check' ">
                    <input-group-check :increment="index"></input-group-check>
                </div>
                <div v-else-if="question.type === 'temp' ">
                    <input-group-temperature v-model:initial="question.default_value" :idtemperature="index"
                        :maxrouge="question.maxR" :minrouge="question.minR" :maxorange="question.maxO"
                        :minorange="question.minO">
                    </input-group-temperature> lov : {{question.default_value}}
                </div>
                <div v-else-if="question.type === 'teneur' ">
                    <input-group-content-level></input-group-content-level>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <script>


        const questionnaire = Vue.createApp({
            data() {
                return {
                    questions,
                    responses: [],
                }
            },
        });

        const InputGroupCheck = {
            props: ['increment'],
            data() {
                return {
                    designs: [
                        { id: "ok_" + this.increment, name: "Oui", color: "btn-outline-success" },
                        { id: "nok_" + this.increment, name: "Non", color: "btn-outline-danger" },
                        { id: "none_" + this.increment, name: "Non évalué", color: "btn-outline-secondary" }
                    ],
                    selectedDesign: null,
                };
            },
            template: `
                    <div class="mb-3">
                        <div class="row justify-content-md-center">
                            <div v-for="design in designs" :key="design.id" class="col-auto col-sm-auto">
                                <input class="btn-check" type="radio" :value="design" v-model="selectedDesign" :id="design.id" :name="design.id">
                                <label class="btn" v-bind:for="design.id" v-bind:class="design.color">{{design.name}}</label>
                            </div>
                        </div>                   
                       <span>Choisi : {{selectedDesign}}</span><p>Incrémentation n° check : {{increment}}</p>
                    </div>
            `
        };

        const InputGroupContentLevel = {
            template: `
                <div class="input-group">
                    <input class="form-control-sm" type="number" id="content-level" step="0.1">
                    <div class="input-group-append">
                        <span class="input-group-text"> % </span>
                    </div>
                </div>
            `
        };

        const InputGroupTemperature = {
            inheritAttrs: true,
            props: ['initial', 'color', 'idtemperature', 'maxrouge', 'minrouge', 'maxorange', 'minorange',],
            emits: ['update:initial',],
            data() {
                return {
                    idTemp: "idTemp_" + this.idtemperature,
                    currentTemp: '',
                    borderT: 'border border-4 border-success',
                    styleT: '',
                };
            },
            methods: {
                emitValue(event, currentTemp) {

                    this.currentTemp = event.target.value;

                    if (this.currentTemp >= this.maxrouge || this.currentTemp <= this.minrouge) {
                        this.borderT = 'border border-5 border-danger';
                    }
                    else if (this.currentTemp >= this.maxorange || this.currentTemp <= this.minorange) {
                        this.borderT = 'border border-5 border-warning';
                    }
                    else {
                        this.borderT = 'border border-4 border-success';
                        this.styleT = 'background: pink'
                    }

                    this.$emit('update:initial', this.currentTemp);
                }
            },
            template: `
                    <div class="input-group">
                        <input class="form-control-sm" type="number" step="0.1" :value="initial" @input="emitValue" :name="idTemp">
                        <div class="input-group-append">
                            <span class="input-group-text" :class="borderT"> °C </span>
                        </div>
                    </div>
                   `
        };// <img src="https://img-premium.flaticon.com/png/512/929/929416.png?token=exp=1621417826~hmac=a3f4f2ac5b773d0961a25a2becee060d" alt="cross" style="width: 8%; height: 8%">

        const questions = [
            {
                type: 'temp',
                label: 'Chambre froide',
                default_value: 160,
                maxR: 200,
                minR: 130,
                maxO: 180,
                minO: 140,
            },
            {
                type: 'temp',
                label: 'Armoire 1',
                default_value: 148,
                maxR: 190,
                minR: 120,
                maxO: 170,
                minO: 130,
            },
            {
                type: 'check',
                label: 'DLC primaire',
            },
            {
                type: 'teneur',
                label: 'Relevé de composé',
                maxR: 22,
                maxO: 20,
            },
            {
                type: 'check',
                label: 'DLC secondaire',
            },
            {
                type: 'temp',
                label: 'Armoire 2',
                default_value: 165,
                maxR: 200,
                minR: 130,
                maxO: 185,
                minO: 140
            },
            {
                type: 'check',
                label: 'Produits protégés et filmés	',
            },
        ];

        questionnaire.component("input-group-check", InputGroupCheck);
        questionnaire.component("input-group-content-level", InputGroupContentLevel);
        questionnaire.component("input-group-temperature", InputGroupTemperature);
        //questionnaire.component("add-item", AddItem);
        questionnaire.mount('#app');
    </script>
</body>

</html>