<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire ver. Vue 3 JS</title>

    <script src="https://unpkg.com/vue@next"></script>

<body>
    <div id="app">
        <h1>Potato Worl</h1>
        <input type="text" v-model="message" />
        <a href="#" @click="ajouterNote" v-if="message != '' ">Ajouter</a>
        <p v-bind:title="message" v-for="todo in todos" :key="todo.id" @click="inverser">
            {{ todo }}
        </p>

        <note v-for="todo in todos" v-bind:content="todo"></note>

    </div>

    <script>
        const patate = Vue.createApp({
            data() {
                return {
                    message: 'Hello to my potato friends',
                    todos: ['Chris', 'Jose', 'Bol']
                }
            },
            methods: {
                inverser() {
                    this.todos.reverse();
                },
                ajouterNote() {
                    this.todos.push(this.message);
                    this.message = '';
                }
            }
        })

        patate.component('note', {
            props: ['content'],
            template: `<p> {{ content }} </p>`
        })

        patate.mount('#app');


    </script>
</body>

</html>