<!doctype html>
<html ng-app="LCQ-fillform">

	<head>
		<meta charset="utf-8">
		<title>LCQ - input testbed</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>


		<style>
			ol {
				counter-reset: item;
				padding-left: 10px;
			}

			li {
				display: block
			}

			li:before {
				content: counters(item, ".") " ";
				counter-increment: item
			}


			.LCQ_form {
				border: 5px outset cyan;
				padding: 15px;
			}

			.alert_lvl_0 {
				background-color: #3f3;
			}

			.alert_lvl_1 {
				background-color: #fa4;
			}

			.alert_lvl_2 {
				background-color: #f33;
			}



			.LCQ_form table.LCQ_items {
				border-collapse: collapse;
			}

			.LCQ_form table.LCQ_items>tbody>tr>td {
				border: 1px solid grey;
			}

			.LCQ_form table.LCQ_items .itemLabel {
				font-family: Arial, sans-serif;
				font-size: 1.1em;
				width: 18em;
			}

			.LCQ_form table.LCQ_items table.sub_items {
				border-spacing: 0px;
			}
			
			.LCQ_form table.LCQ_items label {
				display: inline-block;
				padding: 2px;
				border: 3px outset lightgrey;
				border-radius : 5px;
			}

			.removeBtn {
				display: none;
			}

			.removeBtn.duplicateFlag {
				display: inline;
			}
		</style>

		<script>

			/* Item types */
			class AbstractItem {
				constructor(itemLabel) {
					this.itemLabel = itemLabel;
				}
				/* for template switching */
				getTypeName() { return this.constructor.name; }

				/* assess validity of user input.
				TODO redefine scope of this, according to warning levels spec */
				validate() {
					throw "validate() not implemented in child item type";
				}

				static ALERT_GREEN = 0; // theoretically, it is... no alert at all ;-)
				static ALERT_ORANGE = 1;
				static ALERT_RED = 2;
			}

			class ItemCheckOK extends AbstractItem {
				static OK = "ok"; /* "static const" only in an ES7 proposal O_o */
				static KO = "ko";
				static NONE = "none";

				constructor(itemLabel, nok_warnLvl, none_warnLvl) {
					super(itemLabel);
					this.value = ItemCheckOK.NONE;
					this.nok_warnLvl = nok_warnLvl ? nok_warnLvl : AbstractItem.ALERT_GREEN;
					this.none_warnLvl = none_warnLvl ? none_warnLvl : AbstractItem.ALERT_GREEN;
				}
				
				withPhotos() { this.withPhotos = true; return this; };

				validate() {
					switch (this.value) {
						case ItemCheckOK.OK: return AbstractItem.ALERT_GREEN;
						case ItemCheckOK.KO: return this.nok_warnLvl;
						case ItemCheckOK.NONE: return this.none_warnLvl;
					}
				}
			}

			class ItemTemperature extends AbstractItem {
				default(temp) { this.value = temp; return this; }; //TODO waiting for spec
				min_ORANGE(temp) { this.min_ORANGE = temp; return this; };
				max_ORANGE(temp) { this.max_ORANGE = temp; return this; };
				min_RED(temp) { this.min_RED = temp; return this; };
				max_RED(temp) { this.max_RED = temp; return this; };

				validate() {
					if (isNaN(this.value)) return AbstractItem.ALERT_RED; // TODO ensure this ? parameter ?

					if (this.value > this.max_RED || this.value < this.min_RED) {
						return AbstractItem.ALERT_RED;
					} else if (this.value > this.max_ORANGE || this.value < this.min_ORANGE) {
						return AbstractItem.ALERT_ORANGE;
					} else {
						return AbstractItem.ALERT_GREEN;
					}
				}
			}

			class ItemContentLevel extends AbstractItem {
				constructor(itemLabel, max_ORANGE, max_RED) {
					super(itemLabel);
					this.max_ORANGE = max_ORANGE;
					this.max_RED = max_RED;
				}
				default(temp) { this.value = temp; return this; }; //TODO waiting for spec

				validate() {
					if (isNaN(this.value)) return AbstractItem.ALERT_RED; // TODO ensure this ? parameter ?

					if (this.value > this.max_RED) {
						return AbstractItem.ALERT_RED;
					} else if (this.value > this.max_ORANGE) {
						return AbstractItem.ALERT_ORANGE;
					} else {
						return AbstractItem.ALERT_GREEN;
					}
				}
			}

			class ItemGroup extends AbstractItem {
				constructor(itemLabel) {
					super(itemLabel);
					this.subItems = [];
				}

				add(item) {
					this.subItems.push(item);
					return this;
				}

				validate() { // règle perso : c'est le plus grave qui l'emporte (TEST PERSO : NE PAS AFFICHER !)
					return this.subItems
						.map(item => item.validate())
						.reduce((acc, val) => Math.max(acc, val), AbstractItem.ALERT_GREEN);
				}
			}


			var app = angular.module('LCQ-fillform', []);
			app.controller('LCQ-FormCtrl', function () {
				this.forms = [
					{
						formName: "1- Température des stockages surgelés",
						items: [
							new ItemTemperature("Chambre Froide (-)").max_ORANGE(-17).max_RED(-15).min_ORANGE(-23),
							new ItemGroup("Armoire (-) 1")
								.add(new ItemTemperature("").max_ORANGE(-17).max_RED(-15).min_ORANGE(-23))
						]
					},
					
					{
						formName: "2 - Température des stockages réfrigérés",
						items: [
							new ItemTemperature("Chambre Froide (+)").max_ORANGE(4).max_RED(7).min_ORANGE(1).min_RED(0),
							new ItemGroup("Armoire (+) 1")
								.add(new ItemTemperature("").max_ORANGE(4).max_RED(7).min_ORANGE(1).min_RED(0)),
							new ItemTemperature("Machine à glace").max_ORANGE(4).max_RED(7).min_ORANGE(1).min_RED(0),
						]
					},

					{
						formName: "3 - Conservation des produits",
						items: [
							new ItemCheckOK("DLC primaire", AbstractItem.ALERT_RED, AbstractItem.ALERT_RED).withPhotos(),
							new ItemCheckOK("DLC secondaire", AbstractItem.ALERT_RED, AbstractItem.ALERT_RED).withPhotos(),
							new ItemCheckOK("Rotation et Présence étiquette", AbstractItem.ALERT_RED, AbstractItem.ALERT_RED).withPhotos(),
							new ItemCheckOK("Produits protégés et filmés", AbstractItem.ALERT_RED, AbstractItem.ALERT_RED).withPhotos(),
						]
					},
					
					{
						formName: "4 - Huiles de cuisson",
						items: [
							new ItemGroup("Bac 1")
								.add(new ItemTemperature("Température de programmation").min_ORANGE(165))
								.add(new ItemCheckOK("Niveau d'huile", AbstractItem.ALERT_ORANGE, AbstractItem.ALERT_RED))
								.add(new ItemContentLevel("Relevé du composé polaire", 20, 22)),
						]
					},
					
					{
						formName: "5 - Cuissons des produits grillés",
						items: [
							new ItemGroup("Grill 1")
								.add(new ItemCheckOK("Propreté et état du grill, spatules, grattoirs...", AbstractItem.ALERT_RED, AbstractItem.ALERT_RED))
								.add(new ItemTemperature("Température du grill"))
								.add(new ItemTemperature("Prise température interne du steak sur 1ère série").min_ORANGE(65).min_RED(63)),
						]
					},
					
					{
						formName: "6 - Conservation des produits chauds",
						items: [
							new ItemGroup("Température du maintien chaud 1")
								.add(new ItemTemperature("").min_ORANGE(65).min_RED(63))
						]
					},
					
					{
						formName: "7 - Nettoyage du matériel",
						items: [
							new ItemCheckOK("Propreté plonge", AbstractItem.ALERT_RED, AbstractItem.ALERT_RED),
							new ItemCheckOK("Propreté coupe-légume", AbstractItem.ALERT_RED, AbstractItem.ALERT_RED),
							new ItemCheckOK("Propreté machine à glaces", AbstractItem.ALERT_RED, AbstractItem.ALERT_RED),
							new ItemCheckOK("Propreté zone marinade", AbstractItem.ALERT_RED, AbstractItem.ALERT_RED)
						]
					}				
				];

				this.insertCopy = function (formIndex, itemIndex) {
					var currFormItems = this.forms[formIndex].items;
					var originalItem = currFormItems[itemIndex];
					var copyItem = angular.copy(originalItem);
					copyItem.duplicateFlag = "duplicateFlag"; // enables the associated "remove item" button
					copyItem.itemLabel =  smartRenumbering(copyItem.itemLabel, itemIndex);

					if (itemIndex == currFormItems.length - 1)
						currFormItems.push(copyItem);
					else
						currFormItems.splice(itemIndex + 1, 0, copyItem);
				}

				this.removeCopy = function (formIndex, itemIndex) {
					var currFormItems = this.forms[formIndex].items;

					currFormItems.splice(itemIndex, 1);
				}

				this.logMe = function () {
					console.log(this.forms);
				};
			});

			// just a little smarter, as a matter of fact ;-)
			function smartRenumbering(name, itemIndex) { //TODO renumber only inserted of overall ?...
				if (name) {
					var match = name.match(/^(.*) (\d+)$/);
					if (match)
						return match[1] + " " + (1 + parseInt(match[2], 10));
					else 
						return `${name} ${itemIndex +1}`;
				} else {
					return "(copie)";
				}
			}

		</script>
	</head>
	<body>
		<p>Cette maquette "active" a pour objectif de permettre une validation "pratique" du cahier des charges. Son aspect visuel n'est évidemment pas représentative du produit final.
		
		
		<p>Cependant, toutes les remarques liées à l'ergonomie, aux différents libellés, aux alertes, etc. qu'elle permet de soulever restent utiles. Nous vous invitons à utiliser librement <a href="https://sellzone.slack.com/archives/C01V0MEU0SK" target="_blank">le channel Slack dédié</a> pour les partager avec l'équipe de développement.
		
	
		<p>Questions courantes posées par la réalisation de la maquette :
		<ol>
			<li>Valeurs par défaut pour les champs numériques (température et teneur de composé)</li>

			<li>Comportement des items duplicables (possédant un <button>+</button>)<ol>
					<li>Limite max. au nombre de copies ?</li>
					<li>Doit-il copier l'item correspondant au bouton, ou insérer une copie "vierge" ?</li>
					<li>Notion d'alerte "combinée" sur les groupes <i>(sur la maquette, c'est le niveau le + haut qui
							est retenu)</i></li>
				</ol>
			</li>
		</ol>


		<div style="border:2px solid black" ng-controller="LCQ-FormCtrl as ctrl">

			<!--
			<div ng-init="form = ctrl.forms[0]">
			-->
			<div class="LCQ_form" ng-repeat="form in ctrl.forms" ng-init="formIndex = $index">
				<H1>{{form.formName}}</H1>
				<table class="LCQ_items">
					<tbody>
						<tr ng-repeat="formItem in form.items track by $index" ng-init="itemIndex = $index">

							<!-- ALERT INDICATOR (as in Traqfood) -->
							<td class="alert_lvl_{{formItem.validate()}}">
								&nbsp;
							</td>

							<!-- ITEM LABEL (left column) -->
							<td ng-switch="formItem.getTypeName()">
								<div ng-switch-when="ItemGroup">
									<!-- editable label for group + duplication controls -->
									<input ng-model="formItem.itemLabel" class="itemLabel"></input>
									<button ng-click="ctrl.insertCopy(formIndex, itemIndex)">+</button>
									<button ng-click="ctrl.removeCopy(formIndex, itemIndex)"
										class="removeBtn {{formItem.duplicateFlag}}">-</button>
								</div>
								<div ng-switch-default class="itemLabel">
									<!-- non-editable label for all others : ItemCheckOK, ItemTemperature ,ItemContentLevel -->
									{{formItem.itemLabel}}
								</div>
							</td>

							<!-- ITEM INPUT FIELDS (right column) -->
							<td ng-switch="formItem.getTypeName()">
								<div ng-switch-when="ItemCheckOK">
									<label><input type="radio" ng-model="formItem.value" value="ok">OK</label>
									<label><input type="radio" ng-model="formItem.value" value="ko">Pas OK</label>
									<label><input type="radio" ng-model="formItem.value" value="none">Pas fait</label><br>
									<textarea ng-if="formItem.withPhotos">(commentaires et photos)</textarea>
								</div>
								<div ng-switch-when="ItemTemperature">
									<input type="number" ng-model="formItem.value" step="0.1">°C
								</div>
								<div ng-switch-when="ItemContentLevel">
									<input type="number" ng-model="formItem.value" step="0.1">%
								</div>
								<div ng-switch-when="ItemGroup">
									<table class="sub_items">
										<tbody>
											<!-- TODO replace Q&D copy-paste with "proper" composite -->
											<tr ng-repeat="subItem in formItem.subItems">
												<td ng-if="formItem.subItems.length>1">{{subItem.itemLabel}}</td>
												<td ng-switch="subItem.getTypeName()">
													<div ng-switch-when="ItemCheckOK">
														<label><input type="radio" ng-model="subItem.value" value="ok">OK</label>
														<label><input type="radio" ng-model="subItem.value" value="ko">Pas OK</label>
														<label><input type="radio" ng-model="subItem.value" value="none">Pas fait</label><br>
														<textarea ng-if="formItem.withPhotos">(commentaires et photos)</textarea>
													</div>
													<div ng-switch-when="ItemTemperature">
														<input type="number" ng-model="subItem.value" step="0.1">°C
													</div>
													<div ng-switch-when="ItemContentLevel">
														<input type="number" ng-model="subItem.value" step="0.1">%
													</div>
													<div ng-switch-default>
														UNSUPPORTED SUB ITEM TYPE
													</div>
												</td>
												<td ng-if="formItem.subItems.length>1"
													class="alert_lvl_{{subItem.validate()}}">
													&nbsp;
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div ng-switch-default>
									UNSUPPORTED ITEM TYPE
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!--
			<button ng-click="ctrl.logMe()">LOG DATA</button>
			-->
		</div>


	</body>


</html>