<!doctype html>
<html ng-app="DummyApp">

<head>
  <meta charset="utf-8">
  <title>PARA-CHECKFOOD : Ang. 0</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" integrity="sha384-c+qsMuWimzoMxDpSd67QtX89Nctaxh/CBMTgEnKrTahfMz1HgjjwqrzEGYXMZxYi"></script>
</head>

<script>
  var app = angular.module('DummyApp', []);
  app.controller('GensController', function ($http) {
    this.gens = [
      { nom: "Robert", age: 666, couleur: "green" },
      { nom: "Mégane", age: 22, couleur: "pink" },
      { nom: "Michael", age: 39, couleur: "#4aa" }
    ];

    this.totalAge = function(){
      return this.gens.map(p => p.age).reduce((total, inc) => total + inc);
    };
    
    this.send = function(){
      console.log(this.gens);
      $http.post("http://localhost:80/storeThis", this.gens);
      /* note : $http.post() uses angular.toJson() instead of JSON.stringify,
       and THAT MAKES A DIFFERENCE ! */
    };

    this.addPersonne = function(){
      this.gens.push({});
      //this.gens.push({nom:"default name", age:0});
    };
  });
</script>

<body>

  <div style="border:2px solid black" ng-controller="GensController as gensCtrl">
    <b>Total = {{gensCtrl.totalAge()}} ans</b>

    <!-- This div IS "the row template", thanks to a single attribute ng-repeat -->
    <div ng-repeat="personne in gensCtrl.gens" style="background-color: {{personne.couleur}};">
      <input type="text" ng-model="personne.nom" /> âgé de
      <input type="number" ng-model="personne.age" />
    </div>
    
    <button ng-click="gensCtrl.send()" >Fire me up</button>
    <button ng-click="gensCtrl.addPersonne()" >+</button> (don't do this yet !)
  </div>


  <h1>And now, for something completely different</h1>
  <div ng-controller="GensController as dummy" style="{{dummy.sometext}}:red" {{dummy.sometext}}>
    type things : <input type="text" ng-model="dummy.sometext" />
    {{dummy.sometext}}
  </div>
</body>

</html>